<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="   " ></ion-back-button>
    </ion-buttons>
    <ion-title  >
      <img src="assets/img/logo2.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <ion-card>
    <ion-card-header >
      <ion-title size="small">Medico</ion-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-list>
        <ion-radio-group [allowEmptySelection]="true" value="id">
          <ion-item *ngFor="let usuario of usuarios"> {{usuario.id}} - {{usuario.name}}
            <ion-label ></ion-label>              
            <ion-radio slot="end" value="id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="calendario()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
</ion-content>