ion-title.title-small {
    color: black;
    font-weight: bold;

    font-size: 17px;
}

img {
    height: 40px;
    width: 150px;
}
ion-content.background{
    --background: url(../../assets/img/Fondo1.jpg) 0 0/100% 100% no-repeat;
}